*{
    font-family: 'Ubuntu', sans-serif;
}


*{
    background-color: #E67817;
}

.title{
    display: flex;
    justify-content: center;
    color: white;
}

.img{
    display: flex;
    justify-content: center;
}

.title2{
    display: flex;
    justify-content: center;
    color: white;
}

.audio{
    justify-content: center;
    display: flex;
}
